[Desktop Entry]
Encoding=UTF-8
Name=Google Calendar agenda
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
Icon=gcal.png

X-KDE-PluginInfo-Author=GDR!
X-KDE-PluginInfo-Email=gdr@gdr.name
X-KDE-PluginInfo-Name=gcal-plasmoid
X-KDE-PluginInfo-Version=0.23
X-KDE-PluginInfo-Website=http://github.com/gjedeer/gcal-plasmoid
X-KDE-PluginInfo-Depends=python-vobject
X-KDE-PluginInfo-License=LGPL
